<div>
    <li>If you know me, feel free to drop a comment below</li>
</div>

<div *ngFor="let item of itemsMap.entries()">
    {{ item[0] }} : {{ item[1] }}
  </div>
  <input [(ngModel)]="newKey" placeholder="Key">
  <input [(ngModel)]="newValue" placeholder="Value">
  <button (click)="addToMap()">Add to Map</button>


  <!-- <ng-container *ngFor="let item of itemsMap$ | async">
    {{ item[0] }} : {{ item[1] }}
  </ng-container>
  <input [(ngModel)]="newKey" placeholder="Key">
  <input [(ngModel)]="newValue" placeholder="Value">
  <button (click)="addToMap()">Add to Map</button> -->