<!-- <div class="social">
    <select name="demo" id="#" class="social-list">
        <option selected="selected" value="one"> LinkedIn </option>
        <option value="two"> Github </option>
        <option value="three"> Facebook </option>
        <option value="four"> Twitter </option>
    </select>
</div> -->
<div id="main">
    <!-- <div class="box box1"> -->
        <!-- <img src="assets/opacity-zero.jpg" width="20px" height="20px"> -->
        <!-- <svg>
            <circle cx="250" cy="75" r="35" fill="green" />
            <text x="250" y="83" font-size="25" text-anchor="middle" fill="white">SJ</text>
        </svg> -->
    <!-- </div> -->
    <div class="box box1">
        <ul class="header-list">
            <li class="header-list" routerLink="/home">
                <span><a> <i class="fas fa-home"></i> Home</a></span>
            </li>
            <li class="header-list" routerLink="/about">
                <a>About</a>
            </li>
            <li class="header-list" routerLink="/experience">
                <a>Experience</a>
            </li>
            <li class="header-list" routerLink="/education">
                <a>Education</a>
            </li>
            <li class="header-list" routerLink="/contact">
                <a>Contact</a>
            </li>
        </ul>
    </div>
    <div class="box box2">
        <button class="loginbtn">
            <i class="fas fa-user"></i>
        <span>LOGIN</span>
        </button>

    </div>
</div>