
  /* Start here */
  #main{
    display: flex;
    /* align-content: space-around; */
    background: #004a7c;
  }

  .header-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 13px;
  }

  li {
    cursor:pointer;
  }

  .box {
    /* border: 2px solid red; */
    width: 500px;
    height: 50px;
    color:cornsilk;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    font-family: 'Open Sans';
  }

  .box1{
    min-height: 25px;
    /* center a div vertically */
    display: flex;
    align-items: center; 

    /* center a div both horizontally and vertically */
    /* display: flex;
    justify-content: center; */
  }

  .box2{
    min-height: 50px;
  }
  .loginbtn {
    letter-spacing: 1.65px;
    color: #252525;
    font-size: 15px;
    border: none;
    margin: 10px;
    cursor: pointer;
    width: 103px;
    height: 30px;
    border-radius: 23px;
    font-weight: 500;
    background: #fff;
  }

   .fas {
    margin-right: 10px;
    color: #004a7c;
   }

