<div class="home-body">
    <table style="margin-left: 175px; padding: 20px;">
        <thead>
            <tr>
                <th class="text">First Name</th>
                <th class="text">Last Name</th>
                <th class="text">Position</th>
                <th class="text">City</th>
                <th class="text">Conference</th>
                <th class="text">Division</th>
            </tr>
            <tr *ngFor="let post of dataPost.data">
                <td class="text">{{post.first_name}}</td>
                <td class="text">{{post.last_name}}</td>
                <td class="text">{{post.position}}</td>
                <td class="text">{{post.team.city}}</td>
                <td class="text">{{post.team.conference}}</td>
                <td class="text">{{post.team.division}}</td>
            </tr>
        </thead>
    </table>


<button type="submit" style="margin-left: 175px; padding: 20px;">Submit</button>
</div>
    