.coveo-search-inner {
    max-width: 800px;
    margin: 20px auto 0 150px;
    padding-left: 10px;
    display: flex;
    align-items: center;

    // .coveo-search-flex {
    //    flex-grow: 1;
    //    input {
    //     height: 48px;
    //    }
    // }
    // .coveo-close {
    //     border-left: none;
    //     background: #fff;
    //     border: none;
    //     position: absolute;
    //     z-index: 5 !important;
    //     left: -60px;
    //     top: 2px;
    //     color: gray;

    //     .fa-times {
    //         font-weight: 100;
    //         color: darkblue;
    //         font-size: 24px;
    //     }
    //     &:active {
    //         outline: none;
    //         box-shadow: none;
    //     }   
    // }

    // .coveo-search-icon {
    //     background: white;
    //     color: rgb(7, 7, 44);
    //     border: 1px solid rgb(11, 11, 42);
    //     padding-top: 12px;
    //     height: 48px;
    //     margin-top: unset;

    //     .fa-search {
    //         font-weight: 100;
    //         font-size: 16px;
    //         padding-bottom: 3px;
    //     }

    //     &:active {
    //         outline: none;
    //         box-shadow: none;
    //     }
    // }
}